<h3>Control Lists and Sliders</h3>
<select class="form-select">
    @foreach(var item in _myOptions)
    {
        <option>@item</option>
    }
</select>


@code {
    private List<string> _myOptions = ["one", "two", "three"];
}
